.css-2b097c-container{
    width:100%;
    outline: none !important;
}
.css-yk16xz-control{
    border:none !important;
    box-shadow:none !important;
    background-color:transparent !important;
}
.css-1pahdxg-control{
    border:none !important;
    box-shadow:none !important;
    background-color:transparent !important;
}
.css-1okebmr-indicatorSeparator{
    display:none !important;
}
.progressTitle{
    max-width: 66% !important;
}
/* .iFJeRb {
    width: 100% !important;
} */
/* @media  */
@media only screen and (max-width: 707px){
    .selects{
        width:100% !important;
    }
  
}
@media screen and (max-width: 576px) {
    .RegisterError{
        width: 95% !important;
    }
    .geobLB {
        width: 100% !important;
    }
   
    .MuiGrid-grid-md-2{
        max-width: 58.333333% !important;
    }
    /* .MuiGrid-spacing-xs-1 > .MuiGrid-item{
        max-width: 100% !important;
    } */
    .empty_title{
        width: auto !important;
    }
    .brifings{
        flex-direction: column !important;
    }
    .MuiGrid-spacing-xs-5{
        width: 100% !important;
        margin: -20px 0 !important;
    }
    .MuiGrid-spacing-xs-5 > .MuiGrid-item{
        padding: 20px 0 !important;
    }
    .CostStoreSave{
        width: auto !important;
    }
    .DayPicker{
        width: 100% !important;
    }
    .MuiGrid-spacing-xs-3{
        width: 100% !important;
        margin: 0 auto !important;
    }
    .MuiGrid-spacing-xs-3 > .MuiGrid-item{
        padding: 0px !important;
    }
    .gDSYoz .wrap_cal{
        width: 100% !important;
    }
    .writerCAT{
        margin-left: 0px !important;
    }
    
    
}
/* .css-yk16xz-control */