.css-2b097c-container{
    width:100%;
    outline: none !important;
}
.css-yk16xz-control{
    border:none !important;
    box-shadow:none !important;
    background-color:transparent !important;
}
.css-1pahdxg-control{
    border:none !important;
    box-shadow:none !important;
    background-color:transparent !important;
}
.css-1okebmr-indicatorSeparator{
    display:none !important;
}
/* .css-yk16xz-control */