input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    /* background-color: #fafcfa !important; */
     /* color: #555 !important; */
    box-shadow: 0 0 0 1000px #fafcfa inset !important;
    /* -webkit-text-fill-color: #555555 !important;  */
}
.ecuYMb{
    position: absolute !important;
    display: inline-block !important;
    width: 80px!important;
    height: 80px !important;
    top: 134px !important;
    left: 50% !important;
    margin-left: -48px !important;
    z-index: 999 !important;
    opacity: 0.5 !important;
}
